// Breakpoints
$bp-small: 48em; // 768px
$bp-medium: 64em; // 1024px
$bp-large: 85.375em; // 1366px
$bp-xlarge: 120em; // 1920px
$bp-xxlarge: 160em; // 2560px

// Media Queries
$mq-small: '(min-width: #{$bp-small})';
$mq-medium: '(min-width: #{$bp-medium})';
$mq-large: '(min-width: #{$bp-large})';
$mq-xlarge: '(min-width: #{$bp-xlarge})';
$mq-xxlarge: '(min-width: #{$bp-xxlarge})';
$mq-retina: '(-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi)';

.spotlight-card-container {
  align-items: center;
  display: flex;
  justify-content: center;
  padding: 30px;

  .mat-card-actions {
    margin: 0;

    button {
      border: 1px;
    }
  }

  .mat-card {
    margin: 0;
    min-width: 30%;
    padding: 10px 30px;
    width: 80%;
  }

  .mat-card-content {
    margin: 0;
    padding: 10px 0;
  }

  .mat-card-header {
    margin: 0;
    width: 100%;
  }
}

.spotlight-card {
  max-width: 60%;
}

.rating-content {
  padding: 0;
  text-align: center;
}

.card-carrousel {
  bottom: 0;
  min-width: 100%;
  position: absolute;

  .mat-card-content {
    margin: 0;
    text-align: center;
  }

  .mat-card-header {
    margin: 0;
    text-align: center;
    width: 100%;
  }

  .mat-paginator {
    margin: 8px;
    min-width: 100%;
  }
}


.ng-star-inserted {
  margin: 0;
  padding: 0;
}

.card-carrousel-button {
  margin: 8px;
  min-height: 100%;
  min-width: 100%;
}

.card-content-full {
  width: 100%;
}

.button-spacer {
  flex: 1 1 auto;
}

.mat-raised-button {
  margin-left: 10px;
}

::ng-deep .mat-list-item {
  margin: 0;
  width: 100% !important;
}

::ng-deep .mat-form-field-wrapper {
  margin: 0;
  width: 100% !important;
}

::ng-deep .mat-list .mat-list-item {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

::ng-deep .mat-badge-content {
  right: 15px;
}

// @media #{$mq-xlarge} {
// }

// @media #{$mq-xxlarge} {
// }

@media screen and (max-width: 768px) {
  .media-container {
    .card-carrousel > button {
      margin: 0;
      text-align: center;
    }
  }

  .card-carrousel-button {
    font-size: .5rem;
    margin: 8px;
    min-height: 100%;
    min-width: 100%;
  }
}
