<mat-toolbar color="primary">
    <mat-toolbar-row>
        <!-- <span><img src="assets/nationwide-logomark-white.png">Music Selector</span> -->
        <span class="menu-item">
            <mat-icon class="nav-icon" aria-hidden="false" aria-label="Example library_music icon">library_music
            </mat-icon>Music Selector
        </span>
        <!-- <span class="nav-spacer"></span>
        <span class="menu-item">
            <mat-icon class="nav-icon" aria-hidden="false" aria-label="Example home icon">home</mat-icon>
            <span><a routerLink="/who-is-up">Who's Up?</a></span>
        </span>
        <span class="menu-item">
            <mat-icon class="nav-icon" aria-hidden="false" aria-label="Example today icon">today</mat-icon>
            <span><a routerLink="/past-picks">Past Picks</a></span>
        </span>
        <span class="menu-item">
            <mat-icon class="nav-icon" aria-hidden="false" aria-label="Example trending_up icon">trending_up</mat-icon>
            <span><a routerLink="/stats-for-nerds">Stats for Nerds!</a></span>
        </span>
        <span class="nav-spacer"></span> -->
    </mat-toolbar-row>
</mat-toolbar>
