.nav-icon {
  padding: 0 10px;
  font-size: 2rem;
}

.nav-spacer {
  flex: 1 1 auto;
}

.mat-toolbar a {
  cursor: pointer;
  text-decoration: none;
  color: #ffffff;
  font-size: 1.25rem;
}

.menu-item {
    padding-right: 15px;
    display: flex;
}

