.stat-card-container {
  align-items: center;
  display: flex;
  justify-content: center;

  .full-width {
    width: 100%;
  }

  .award-card-container {
    cursor: pointer;
    margin: 10px;

    .mat-card {
      margin: 0 5px;
      padding: 10px;
    }
  }

  .header-card-container {
    align-items: center;
    display: flex;
    justify-content: center;
    margin: 10px;
    text-align: center;

    .mat-card {
      margin: 0 5px;
      padding: 10px;
      width: 100%;

      .header-spacer {
        flex: 1 1 auto;
      }
    }
  }

  .mat-card-actions {
    margin: 0;
    text-align: center;

    button {
      border: 1px;
    }
  }

  .mat-card-content {
    margin: 0;
    padding: 10px 0;
  }

  .mat-card-header {
    margin: 0;
    width: 100%;
  }
}
